/* stylesheet for resume files */

body {
    background-color: black;
    
}

p {
    color: #F8F8FF;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 20px;
}

a:link, a:visited {
    background-color: grey;
    color: blue;
    padding: 20px;
    border-style: outset;
    border width: 25px;
    margin: 110px;
    background-color: #778899
}

a.one:link, a.one:visited {
    text-align: left;
}

a.two:link, a.two:visited {
    text-align: center;
}

a.three:link, a.three:visited {
    text-align: right;
}


div {
    padding: 30px;
    border-style: solid;
    border-width: 25px;
    border-color: #808080;
    margin: 25px;
    background-color: #778899; 

}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
    padding: 30px;
}

footer {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    
}

h1 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 25px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;


}
h2 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 10px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}
h3 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 5px;
    border-color: #696969;
    margin: 15px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

h4 {
    text-align: center;
    line-height: 0.8;
    color: #FFFFFF;
}

li {
    
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 5px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

p.title {
    font-style: italic;
}

