/* stylesheet for resume files */

body {
    background-color: black;
    
}

p {
    color: #F8F8FF;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 20px;
}

div {
    padding: 25px;
    border-style: solid;
    border-width: 25px;
    border-color: #808080;
    margin: 25px;
    background-color #A9A9A9: 

}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    
}

h1 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 25px
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;


}
h2 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 10px
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}
h3 {
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 5px;
    border-color: #696969;
    margin: 15px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

h4 {
    text-align: center;
    line-height: 0.8;
    color: #FFFFFF;
}

li {
    
    text-align: center;
    color: #FFFFFF;
    border-style: outset;
    border-width: 15px;
    border-color: #696969;
    margin: 5px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

p.title {
    font-style: italic;
}

